.form-btn{
    background-color: #f4ebf9;
    color: #880ed3;
}

.form-input{
    background-color: #f1f1f1;
    border: none;
}
.formm-btn{
    background-color: #303030;
    width: 30%;
    height: 22%;
    color: white;
}